:root {
    --primary-color: #292929;
    /* --primary-color: rgba(30, 30, 30) */
    --line-grey: #414141;
    --secondary-color: #cecece;
    --theme-color: #76b9ed;
}

.default-dialogContainer {
    /* position: absolute; */
    /* top: calc(50vh + 10px); */
    /* top: calc(30vh); */
    left: 5%;
    width: 90%;
    height: calc(60vh - 60px);
    margin-top: calc(-60vh + 60px - 40px);
    /* background: linear-gradient(rgba(0, 0, 255, 0), rgba(67, 64, 79, 0.6)); */
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgb(41, 41, 41, 0.6)); */
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgb(41, 41, 41, 0.8)); */
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(118, 185, 237, 0.1));
    overflow-y: auto;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 40px;
    /* 将子组件排列在底部 */
    /* pointer-events: none; */
}

.default-dialogText {
    color: white;
    font-size: 24px;
}

.default-userInput {
    width: 90%;
    height: 2em;
    border-radius: 5px;
    border: solid 1px var(--line-grey);
    margin: 0 auto;
    /* background-color: rgba(195, 201, 255, 0.671); */
    /* backdrop-filter: blur(14px) saturate(150%); */
    /* background-color: var(--primary-color); */
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    backdrop-filter: blur(3px);
}

.default-userInput:focus {
    border-color: #76b9ed;
    outline: none;
}


.default-buttonGroup {
    width: 95%;
    margin-top: -40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.default-miniButton {
    height: 30px;
    /* background-color: rgba(195, 201, 255, 0.671); */
    /* background-color: var(--primary-color); */
    background-color: rgba(30, 30, 30, 0.8);
    color: white;
    border: solid 1px var(--line-grey);
    border-radius: 5px;
    align-self: flex-end;
    margin: 2px;
}

.default-miniButton:hover {
    background-color: rgba(45, 45, 45, 0.8)
}

.default-miniButton svg {
    width: 70%;
}

.default-miniButton:focus-visible {
    outline: none;
    border-color: #76b9ed;
}

.default-settingButton svg {
    transform-style: preserve-3d;
    transition: 0.5s;
    transform: rotateZ(0deg);
}

.default-settingButton:hover svg {
    transform: rotateZ(90deg);
}

.default-hideChatButton svg {
    /* justify-self: left; */
    transform-style: preserve-3d;
    transition: 0.5s;
}

.default-hideChatButton svg {
    width: 100%;
    margin-top: 2px;
}

.default-dialogBubble {
    display: flex;
    margin: 3px;
    padding: 3px;
    /* border-radius: 10px; */
    pointer-events: none;
    line-break: anywhere;
    border: solid 1px var(--line-grey);
    /* font-family: "华文楷体"; */
    background-color: rgba(30, 30, 30, 0.8);
    color: rgb(200, 200, 200);
    border-radius: 5px;
}

.default-userBubble {
    justify-content: flex-end;
    margin-left: 30%;
    margin-right: 10px;
}

.default-assistantBubble {
    justify-content: flex-start;
    margin-right: 30%;
    margin-left: 10px;
}

.default-userBubble div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.default-userBubble div img {
    border-radius: 5px;
    max-width: 50%;
    /* max-height: 50%; */
    object-fit: cover;
}
